<header>
      <div class="container">

        <center>
            
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      
      <%= image_tag 'controllogix1.jpg' %>
      
      

    </div>

    <div class="item">
      <!--<img src="controllogix1.jpg" alt=" ">-->
      <%= image_tag 'web2.jpg' %>
    </div>

    <div class="item">
      <!--<img src="controllogix1.jpg" alt=" ">-->
      <%= image_tag 'home1.jpg' %>
    </div>

    <div class="item">
      <!--<img src="controllogix1.jpg" alt=" ">-->
      <%= image_tag 'solar1.jpg' %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section id="about" class="container">
     <p class="maind">FarAuto Ltd. is a small Automation company which Provides Services in Engineering, Procurement, Construction, Commissioning, and Maintenance.
       Our three Main Service Provided are:</p>
      <div class="row">
        <div class="col-md-3">
          <span class="glyphicon glyphicon-send"></span> <br>
          <h3>Awesome Feature</h3>
          
          <a href="industrial_auto"><button type="button" class="btn btn-outline-success">Industrila Automation</button></a>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-heart"></span> <br>
          <h3>Build with love</h3>
          
          <a href="home_auto"><button type="button" class="btn btn-outline-success">Home Automation</button></a>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-phone"></span> <br>
          <h3>Responsive Layout</h3>
          
          <button type="button" class="btn btn-outline-success">Web Development</button>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-tint"></span> <br>
          <h3>Customizeable</h3>
          
          <button type="button" class="btn btn-outline-success">Solar Power System</button>
        </div>




      </div>
    </section>



    <div class="expan">

      <div class="row">

        <div class="col-md-4">
        <%= image_tag("controllogix1.jpg", class: "img-responsive", size: "200x400") %>
        <h3>Customizeable</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a tincidunt elit. Aliquam porta nibh at enim luctus, auctor consequat dolor vehicula.
        </div>

        <div class="col-md-4">
        <%= image_tag("controllogix1.jpg", class: "img-responsive", size: "200x400") %>
        <h3>Customizeable</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a tincidunt elit. Aliquam porta nibh at enim luctus, auctor consequat dolor vehicula.
        </div>

        <div class="col-md-4">
        <%= image_tag("controllogix1.jpg", class: "img-responsive", size: "200x400") %>
        <h3>Customizeable</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a tincidunt elit. Aliquam porta nibh at enim luctus, auctor consequat dolor vehicula.
        </div>

  


    </div>
    </div>

    

        </center>

      </div>
     </header>







