<!DOCTYPE html>
<html>

  <head>
    <title>finalcf</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  

  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  </head>
  	
  
  <body>
  
  <div id="nav">
    <nav class="navbar navbar-default navbar-static affix-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FarAuto Ltd.</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
          <li><%= link_to "Home", index_path %></li>
                   
          <li><%= link_to "About us", about_path %></li>
          <li><%= link_to "Products", products_path %></li> 
                      <li><%= link_to "landing page", landing_page_path %></li>

                      <li>
                      <% if user_signed_in? %>
                      <%= link_to('Logout', destroy_user_session_path) %>
                      <% else %>
                      <%= link_to('Login', new_user_session_path) %>
                      <% end %>
                      </li>




          <li><%= link_to "Contact", contact_path %></li>           
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>
  </div>



            <% if notice %>
             <p id="notice" class="alert alert-info"><%= notice %></p>
           <% end %>

           <% if alert %>
             <p id="notice" class="alert alert-info"><%= alert %></p>
           <% end %>
           






<%= form_tag("/products", method: "get") do %>
<div class='searchfor'>
         <%= label_tag(:q, "Search for:", :class => "insearchf") %>
         <%= text_field_tag(:q) %>
         <%= submit_tag("Search") %>
         <% end %>
</div>





    <%= yield %>

    <footer>
    <div class="container">

      <div class="name">

        <div class="col-md-4">
          <h4>KapukAlas</h4>
          <p>Duis viverra suscipit vehicula. Aenean eu massa leo. Sed ullamcorper pretium risus eu scelerisque. Mauris venenatis consequat ultrices. Quisque fringilla sed lacus eu volutpat.</p>
        </div>

        <div class="col-md-4">
          <h4>Our location</h4>
          <div class="row">
            <div class="col-md-1"><span class="glyphicon glyphicon-map-marker"></span></div>
            <div class="col-md-10">Vestibulum placerat, enim sit amet congue aliquet.</div>
          </div><br>

          <div class="row">
            <div class="col-md-1"><span class="glyphicon glyphicon-envelope"></span></div>
            <div class="col-md-10">varius@nibh.lectus.com</div>
          </div><br>

          <div class="row">
            <div class="col-md-1"><span class="glyphicon glyphicon-earphone"></span></div>
            <div class="col-md-10">08888-72738-23</div>
          </div>

        </div>

        <div class="col-md-4">
          <h4>Latest blogs</h4>
          <div class="row">
            <div class="col-md-1"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="col-md-10">Maecenas suscipit in est a placerat. Curabitur semper sed nibh sed egestas. </div>
          </div><br>

          <div class="row">
            <div class="col-md-1"><span class="glyphicon glyphicon-pencil"></span></div>
            <div class="col-md-10">Maecenas suscipit in est a placerat. Curabitur semper sed nibh sed egestas. </div>
          </div>

          </div>

          <div id="copyright">

          <p >Copyright by @FarAuto Ltd. 2017, All right reserved.</p>
          </div>

          </div>

        
        
      
    
    

   
  </footer>  

    

  </body>
</html>

